@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.demo__box {
  width: 96.5%;
  height: 10rem;
  display: flex;
  align-items: center;
  background: #f8f8f9;
  border: 0.12rem solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.3rem;
  padding: 1rem;
  gap: 2rem;
  font-family: "Lato", sans-serif;
}
.demo__box .demo__user {
  flex-basis: 10%;
}
.demo__box .demo__user .icon-circle {
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 1rem;
}

.demo__box .demo__text {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  height: 100%;
}
.demo__text h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}
.demo__text p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.1rem;
  color: rgba(0, 0, 0, 0.6);
}
.demo__text button {
  margin-top: 1rem;
  width: 23%;
  height: 2.3rem;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  background: #e0e1e2;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  font-weight: 500;
  cursor: pointer;

}
.demo__text button:hover {
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;

}
.demo__text button > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo__text button > span >.sign-icon {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;

}
